<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-info text-center shadow-sm p-5 rounded-3">
                <h2 class="fw-bold text-primary mb-3">V-ați delogat de pe <span class="text-danger">Pinterest</span></h2>
                <p class="fs-5 text-muted mb-4">Vă așteptăm cât mai curând din nou pentru a explora articole noi și interesante.</p>
                
            </div>
        </div>
    </div>
</div>
